/* Global Styles */
* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  /* margin: 0;
  padding: 0;
  background-color: #f4f4f4; */
}

/* @font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 100;
  font-style: normal;
} */

.page__content {
  /* background-color: #f3f3f3; */
  /* font-family: "Cabinet Grotesk"; */
  max-width: 1800px;
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  margin: 0 auto;
  padding: 0 40px;
  overflow-x: hidden;
}

@media screen and (max-width: 1660px) {
  .pokemon__list {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on smaller screens */
  }
}

@media screen and (max-width: 1200px) {
  .pokemon__list {
    grid-template-columns: repeat(2, 1fr); /* 3 columns on smaller screens */
  }
}

/* Adjust Header for Small Screens */
@media screen and (max-width: 768px) {
  .pokemon__list {
    grid-template-columns: repeat(1, 1fr); /* 2 columns on smaller screens */
  }

  .search-bar input {
    width: 80%;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }
}

/* Extra Small Screens */
@media screen and (max-width: 480px) {
  .pokemon__list {
    grid-template-columns: repeat(1, 1fr); /* 1 column on mobile */
  }

  .search-bar input {
    font-size: 16px;
    width: 100%;
  }
}
